#header h1 {
    font-size: 3em; /* tamanho grande para destaque */
    margin-bottom: 0.2em;
}

#header p strong {
    font-size: 1.2em; /* mantém destaque, mas não gigante */
}

#header small {
    font-size: 0.8em; /* já está menor */
    color: #ccc; /* opcional: cor mais suave */
    display: block; /* força quebra de linha */
    margin-top: 0.5em;
}

.highlight {
  background-color: #000; /* amarelo suave, mas podes trocar */
  color: #fff;
  padding: 0 4px;           /* espaço lateral */
  border-radius: 4px;       /* cantos arredondados */
  box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* sombreado */
}